  <h1 class=" mt-5">Add Category</h1>
<form class="form-inline" action="/admin/add-category" method="post">
 
  <div class="form-group mx-sm-3 mb-2">
      
      <input type="text" class="form-control" id="inputPassword2" name="category" required placeholder="Category">
  </div>

 
  <button type="submit" class="btn btn-primary mb-2">Add Room Category</button>
   {{#if catExist}}
  <p class="text-danger">Already Exist</p>
  {{/if}}
</form>
<h1 class=" mt-5 mb-3">All Categories</h1>
              <table class="display table" id="table_id">
        <thead>
          <tr>
            <th>Sl No</th>
            <th>Category</th>
            <th>Edit</th>
            <th>View Rooms</th>
          </tr>
        </thead>
        <tbody>
        {{#each data.category}}
            <tr>
              <td>{{inc @index}}</td>
             
                 <td>{{this.categoryName}}</td>
               <td>
               
<button type="button"  href="/admin/edit-category/{{this._id}}" class="btn btn-primary d-inline-block" data-toggle="modal" data-target="#exampleModal{{this._id}}">
  Edit Category
</button>
              <a href="/admin/delete-category/{{this._id}}"  onclick="return confirm('Are you sure to delete {{this.name}}')" class="btn btn-danger ">Delete</a>
             
               <td>
               <a   href="/admin/category/{{this._id}}" class="btn btn-primary d-inline-block" >
  View Rooms
</a></td>
              </form>
            </tr>
              <!-- Modal -->
<div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/edit-category/{{this._id}}" method="post">
           <input name="categoryEdit" type="text" value="{{this.categoryName}}">
           <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
            {{/each}}
   
        </tbody>
      </table>
   {{!-- <h1 class="my-4">Vendor Approval Request</h1>
  <table class="display table" id="table_id">
        <thead>
          <tr>
            <th>Sl No</th>
            <th>Name</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
            {{#each vendorData}}
            <tr>
              <td>{{inc @index}}</td>
              <form action="/admin/update-category" method="post">
                 <td><input id="category-input" class="border-0" type="text" value="{{this.name}}" name="editingCategory" disabled></td>
               <td><a  href="/admin/approve-vendor/{{this._id}}" class="btn btn-primary d-inline-block">Approve</a>
              <a href="/admin/reject-vendor/{{this._id}}" class="btn btn-danger">Reject</a></td>
              </form>
            </tr>
          
            {{/each}}
   
        </tbody>
      </table>

       <h1 class="mb-4">Approved Vendor Dtails</h1>
  <table class="display table" id="table_id_2">
        <thead>
          <tr>
            <th>Sl No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
            {{#each approvedvendor}}
            <tr>
              <td>{{inc @index}}</td>
               <td>{{this.name}}</td>
              <td>{{this.email}}</td>
               <td>{{this.phoneNumber}}</td>
              </form>
            </tr>
          
            {{/each}}
   
        </tbody>
      </table>

            </div>
         </div>
      </div> --}}
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script>

         $(document).ready( function () {
            $('#table_id').wrap('<div id="hide" style="display:none"/>');
                  $('#hide').css( 'display', 'block' );
            } );
         var table = $('#table_id').DataTable();



      </script>
      