  <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo logo-text">
            <a href="/"><img src="/images/logo.png" alt="">Royal suites</a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__btn__widget">
            <a href="#">Book Now <span class="arrow_right"></span></a>
        </div>
        <div class="offcanvas__widget">
            <ul>
                <li><span class="icon_pin_alt"></span> Cochin Kerala</li>
                <li><span class="icon_phone"></span> 9847 222 333</li>
            </ul>
        </div>
        {{!-- <div class="offcanvas__language">
            <img src="user/img/lan.png" alt="">
            <span>English</span>
            <i class="fa fa-angle-down"></i>
            <ul>
                <li>English</li>
                <li>Bangla</li>
            </ul>
        </div> --}}
        <div class="offcanvas__auth">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Register</a></li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><span class="icon_pin_alt"></span> Cochin Kerala</li>
                            <li><span class="icon_phone"></span> 9847 222 333</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__auth">
                                {{#if name}}
                                <ul>
                                    <li><img src="{{pic}}"  height="50" alt="" style="border-radius:50% ; width: auto;"></li>
                                    <li><a href="#">{{name}}</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                    
                                </ul>
                                {{else if profileName}}
                                 <ul>
                                    <li><a href="/my-profile">{{profileName}}</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                    
                                </ul>
                                {{else}}
                                <ul>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/signup">Register</a></li>
                                </ul>
                                {{/if}}

                                
                            </div>

                               
                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__nav__option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a href="/" class="logo-text"><img src="/images/logo.png" alt="">Royal suites</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="header__nav">
                            <nav class="header__menu">
                                <ul class="menu__class">
                                    <li class="active"><a href="/">Home</a></li>
                                    <li><a href="/#rooms">Rooms</a></li>
                                    <li><a href="/#aboutus">About us</a>
                                      
                                    </li>
                                     <li><a href="/vendor/login">To Become Our Partner</a>
                                      
                                    </li>
                                   
                                    <li><a href="/#contcus">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="header__nav__widget">
                                <a href="#">Book Now <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open">
                    <span class="fa fa-bars"></span>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="google-btn"><a href="/auth/google">
  <div class="google-icon-wrapper">
    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
  </div>
  <p class="btn-text"><b>Sign in with google</b></p></a>
</div>
      </div>
     
    </div>
  </div>
</div>