<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<div class="breadcrumb-option set-bg" data-setbg="user/img/breadcrumb-bg.jpg">
        <div class="container mb-5">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h1>Our Room</h1>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Rooms</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-3">
            <form id="filter" method="post">
                <div class="card">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                
                                <h6 class="title">Category Types</h6>
                            </a>
                        </header>


                        <div class="filter-content collapse show" id="collapse_2" style="">
                            <div class="card-body">

                                {{#each data.category}}

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="{{this.categoryName}}"
                                        name="category">
                                    <div class="custom-control-label">{{this.categoryName}}
                                    </div>
                                </label>
                                {{/each}}
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="category" value="" hidden
                                        checked>

                                </label>

                            </div>
                        </div>
                    </article>
                     <!-- filter-group  .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                               
                                <h6 class="title">Aminities </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_2" style="">
                            <div class="card-body">

                                 <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="wifi"
                                        name="wifi">
                                    <div class="custom-control-label">Wifi
                                    </div>
                                </label>
                                 <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="AC"
                                        name="ac">
                                    <div class="custom-control-label">AC
                                    </div>
                                </label>
                                 <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="TV"
                                        name="tv">
                                    <div class="custom-control-label">TV
                                    </div>
                                </label>
                                 <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="parking"
                                        name="vendor">
                                    <div class="custom-control-label">Parking
                                    </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="power"
                                        name="vendor">
                                    <div class="custom-control-label">Power Backup
                                    </div>
                                </label>

                            </div>
                        </div>
                    </article>

                    <!-- filter-group .// -->
                    {{!-- <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                               
                                <h6 class="title">Price range </h6>
                            </a>
                        </header>

                        <div class="filter-content collapse show" id="collapse_2" style="">
                            <div class="card-body">



                                <label class="custom-control custom-checkbox">
                                    <input type="radio" class="custom-control-input" value="1000" name="Prize">
                                    <div class="custom-control-label">Under 1000
                                    </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" class="custom-control-input" value="2000" name="Prize">
                                    <div class="custom-control-label">Under 2000
                                    </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" class="custom-control-input" value="3000" name="Prize">
                                    <div class="custom-control-label">Under 3000
                                    </div>
                                </label>
                                
                                <label class="custom-control custom-checkbox">
                                    <input type="radio" class="custom-control-input" value="150000" name="Prize">
                                    <div class="custom-control-label">under 5000
                                    </div>
                                </label>
                                <label class="custom-control  custom-checkbox">
                                    <input type="radio" class="custom-control-input" name="Prize" value="100000" >

                                </label>


                            </div>
                        </div>

                    </article> --}}


           
        </div>
        </form>
        </div>
     <div class="col-md-9">
               <!-- Breadcrumb Begin -->
    <div  id="roomsDetails">

   
    <!-- Breadcrumb End -->

    <!-- Rooms Section Begin -->
   
        <div class="container">
            
                {{#each roomfilterData}}
                <div class="row">
                <div class="col-lg-6 p-0 order-lg-2 order-md-2 col-md-6">
                    {{!-- <div class="room__pic__slider owl-carousel"> --}}
                        {{!-- {{#each this.rooms.img}}
                        {{!-- <div class="room__pic__item set-bg" data-setbg="/images/room-images/{{this.filename}}" style="background-image: url("/images/room-images//{{this.filename}}");"></div> --}}
                        {{!-- {{/each}} --}} 
                        <img src="/images/room-images/{{this.rooms.img.[0].filename}}">
                    {{!-- </div> --}}
                </div>
                <div class="col-lg-6 p-0 order-lg-1 order-md-1 col-md-6">
                    <div class="room__text">
                        <h3>{{this.rooms.roomName}}</h3>
                        <h2><sup>₹</sup>{{this.rooms.price}}<span>/day</span></h2>
                        <ul>
                            <li><span>Size:</span>{{this.rooms.roomSize}} ft</li>
                            <li><span>Capacity:</span>Max persion {{this.rooms.capacity}}</li>
                            <li><span>Bed:</span>{{this.rooms.bed}}</li>
                            <li><span>Services:</span>{{this.rooms.amenities.wifi}}, {{this.rooms.amenities.tv}}, {{this.rooms.amenities.parking}}, {{this.rooms.amenities.power}}...</li>
                           
                        </ul>
                        <a href="/rooms/{{this.rooms._id}}">View Details</a>
                    </div>
                </div>
                 </div>
                {{/each}}
           
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination__number">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">Next <span class="arrow_right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        
   
    <!-- Rooms Section End -->
 </div>
        </div>



    </main>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/f6c14f9db9.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/javascripts/addToCart.js"></script>

<script>
     $('input[name=category]').change(function() {
   
    $.ajax({
        url: '/search-filter',  
        method: "post",
        data: $('#filter').serialize(),
        success: (isResult) => {
            if (isResult) {
                $('#roomsDetails').load(location.href + " #roomsDetails");
            }
        }
    })

  });

   $('input[name=wifi]').change(function() {
   
    $.ajax({
        url: '/search-filter',  
        method: "post",
        data: $('#filter').serialize(),
        success: (isResult) => {
            if (isResult) {
                $('#roomsDetails').load(location.href + " #roomsDetails");
            }
        }
    })

  });

   $('input[name=ac]').change(function() {
   
    $.ajax({
        url: '/search-filter',  
        method: "post",
        data: $('#filter').serialize(),
        success: (isResult) => {
            if (isResult) {
                $('#roomsDetails').load(location.href + " #roomsDetails");
            }
        }
    })

  });
   $('input[name=tv]').change(function() {
   
    $.ajax({
        url: '/search-filter',  
        method: "post",
        data: $('#filter').serialize(),
        success: (isResult) => {
            if (isResult) {
                $('#roomsDetails').load(location.href + " #roomsDetails");
            }
        }
    })

  });
</script>



 
  